{% extends 'base.html.twig' %}

{% block title %}Nodejs/Node Commits{% endblock %}

{% block body %}
  <div class="container bg-white pb-3">
    <div class="sticky-top bg-white pb-3">
      <h2>Nodejs/Node Last commits</h2>
      <div class="row align-items-end">
        <div class="col-md-6">
          <label>Search by Author</label>
          <input id="findAuthor" class="form-control"/>
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary float-end" href="{{ path('refresh') }}" role="button">Fetch from Api (Refresh)</a>
        </div>
      </div>
    </div>

    {% for commit in commits %}
      <div class="row dataRow {{ commit.commitHashEndingByNumber?'endedByNumber':'' }}"
           data-id="{{ commit.author | replace({' ':''}) | lower }}-{{ commit.commitHash }}">
        <div class="col-lg">
          <p><strong>Hash: </strong>{{ commit.commitHash }}</p>
        </div>
        <div class="col-md"><strong>Author</strong>
          <p>{{ commit.author }}</p></div>
        <div class="col-md"><strong>Last commit: </strong>
          <p>{{ commit.createdAtString }}</p></div>
        <div class="col-xl-12"><strong>Comment: </strong>
          <p>{{ commit.comment }}</div>
        </p>
      </div>
    {% endfor %}

    <div class="row d-none" id="no-results">
      <h3>Your search got no results</h3>
    </div>

  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {{ encore_entry_script_tags('js/commits') }}
{% endblock %}
