// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

$light-blue : #E6F1F6;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "utils";

body{
  background: lighten(#111,10%);
}
.dataRow {
  border: solid #6b6b6b 1px;
  padding: 2em;
  margin: 1em 0 ;
  border-radius: 5px;
  &:hover {
    transition: all 0.5s 0s ease;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px #666666;
  }
  &.endedByNumber {
    background: $light-blue;
  }
}
